<app-au-nav></app-au-nav>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="home.component.css">

<div class="tiledBackground">
  <div class="container">
    <div class="textField">
      <h3> Hi there!</h3>
      <h1>Welcome to our<span> Library</span></h1>
      <p>Everything you need for better future and success has already been written.</p> <p><span> And guess what?</span> <br>All you have to do is go to the library.</p>
    </div>
    <button type="button" routerLink="/register">Explore Now</button>
    <div class="bottom">© 2023 Group 10 -- All rights reserved</div>
  </div>
</div>