




<ng-container  >
  <head>
  
      <link rel="stylesheet" href="au-nav.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  
  <body>
    <section class="mainheader" >
      <header>
        <!-- <section class="mainheader">
          <header>
            
            <nav>
                <ul class="nav-list">
                  <li><div class="logo" routerLink="">
                    <i class="fa fa-home"></i>
                  </div>
                </li>
                  <li><a routerLink="">Information</a></li>
                  <li><a routerLink="" >Policy</a></li>
                  <li><a routerLink="">Contact Us</a></li>
                  
                </ul>
            </nav>
          </header>
      
      
        </section> -->
        <nav>
            <ul class="nav-list">
              <li><div class="logo" >
                <i class="fa fa-home"></i>
              </div></li>
               <li class="nav-item"><a class="nav-link active" aria-current="page" *ngIf="adminActivate" routerLink="/addBook">Add Book</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" *ngIf="adminActivate"  routerLink="/booklist" >Book List</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" *ngIf="adminActivate" routerLink="/userlist">View Users</a></li>
  
              <li class="nav-item"><a class="nav-link active" aria-current="page" *ngIf="userActivate" routerLink="/mybooks">My Books</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" *ngIf="userActivate" routerLink="/userbooklist" >Book List</a></li> 
              <li class="nav-item"><a class="nav-link active" aria-current="page" *ngIf="userActivate" routerLink="/wishlist">Wishlist</a></li>
              <li class="nav-item"><a class="nav-link active" aria-current="page" *ngIf="userActivate" routerLink="/changepassword" >Change Password</a></li>
               <li class="nav-item"><a class="nav-link active" style="cursor: pointer;" aria-current="page" *ngIf="isLoggedIn()" (click)="logout()" > Logout </a></li> 
  
              <!-- <li class="btn"><a routerLink="#" *ngIf="isLoggedIn()" (click)="logout()" > Logout </a></li> -->
              <li class="btn"><a routerLink="register" *ngIf="!isLoggedIn()"> Register </a></li>
              <li class="btn"><a routerLink="login" *ngIf="!isLoggedIn()"> Login </a></li>
            </ul>
        </nav>
      </header>
  
    </section>
  </body>
  </ng-container>