.change-password-form {
    margin: 50px auto;
    width: 50%;
}
.form-group {margin-bottom: 20px;}
label {display: block;margin-bottom: 5px;}
input[type="password"] {width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 4px;}
button[type="submit"] {background-color: #4CAF50;color: white;padding: 10px 20px;border: none;border-radius: 4px;cursor: pointer;}
button[type="submit"]:hover {background-color: #45a049;}
.tiledBackground {
    background-image: url(../../assets/book104.jpg);
    background-size:100%;
    width: 100%;
    height: 1100px;
    background-repeat: no-repeat;
    background-position:center;
    margin: -150px 0px 0px 0px;
  }


  

 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  .wrapper{
    max-width: 450px;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.1);
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    box-shadow: 4px 4px 4px aqua;
  }
  
  .wrapper .title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: aqua;
  }
  .wrapper .form .input_field{
    position: relative;
    margin-bottom: 10px;
  }
  .form input:hover{
      box-shadow: 4px 4px 4px aqua;
  }
  
  .wrapper .form .input_field .input{
    width: 90%;
    padding: 12px;
    padding-left: 30px;
    border: none;
    background:transparent;
    border-radius: 7px;
    color: white;
    margin-bottom: 5px;
  }
  
  
  
  .wrapper .form .input_field i{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: white;
  }
  
  ::-webkit-input-placeholder { 
    color: white;
  }
  .wrapper .form .btn{
    width: 40%;
    height: 40px;
    margin: 20px auto 0;
    color: white;
    font-size: 16px;
    font-weight: 900;
    background: transparent;
    border: 2px solid aqua;
    text-align: center;
    border-radius: 25px;
    
  }
  .wrapper .form .btn:hover{
    background-color: aqua;
    color: black;
    transition: .4s;
  }
  .wrapper .form .btnn{
    text-align: center;
  }
  .tc{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }
  select{
    background-color: transparent;
    text-align: center;
    border-color: transparent;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    margin-bottom: 5px;
  }
  .input_category{
    padding-bottom: 20px;
  }
  .wrapper .form .picture{
    width: 200px;
    padding-left: 9px;
    background:transparent;
    color: white;
    display: inline-block;
  }
  ::-webkit-file-upload-button {
    background: transparent;
    border-color: transparent;
    /* border-radius: 25px; */
    color: aqua;
  }