

<div class="tiledBackground">
    <div class="wrapper">
    <div class="title">
        Change Password
    </div>
    <div class="form">
        <form [formGroup]="registrationForm" class="mx-1 mx-md-4" #regForm="ngForm">
  

            <!-- oldpassword : <input type="text" [(ngModel)]="user.oldpassword" name="oldpassword">

            <br>
            newpassword: <input type="text" [(ngModel)]="user.newpassword" name="newpassword"> -->
            <div class="alert-danger" *ngIf="!isSuccess">
                {{errormsg}}
            </div>
        <div class="input_field">
            <input type="password" formControlName="oldpassword" placeholder=" Old Password" class="input" [(ngModel)]="upass">
                <div class="form-text text-danger" *ngIf="registrationForm.get('oldpassword')?.hasError('required') && registrationForm.get('oldpassword')?.touched" >Password is required</div>
                <div class="form-text text-danger" *ngIf="registrationForm.get('oldpassword')?.hasError('minLength') && registrationForm.get('oldpassword')?.touched" >Password should be atleast 8 characters</div>
                <div class="form-text text-danger" *ngIf="registrationForm.get('oldpassword')?.hasError('maxLength') && registrationForm.get('oldpassword')?.touched">Password should be atmost 15 characters</div>
                <div class="form-text text-danger" *ngIf="registrationForm.get('oldpassword')?.hasError('pattern') && registrationForm.get('oldpassword')?.touched">Password must contain uppercase, small, number and symbol</div>
            <i class="fas fa-lock" style="color: aqua;"></i>
        </div>
        <div class="input_field">
            <input type="password" formControlName="newpassword" placeholder="New Password" class="input" [(ngModel)]="cpass">
            <div class="form-text text-danger" *ngIf="registrationForm.get('newpassword')?.hasError('required') && registrationForm.get('newpassword')?.touched" >Password is required</div>
            <div class="form-text text-danger" *ngIf="registrationForm.get('newpassword')?.hasError('minLength') && registrationForm.get('newpassword')?.touched" >Password should be atleast 8 characters</div>
            <div class="form-text text-danger" *ngIf="registrationForm.get('newpassword')?.hasError('maxLength') && registrationForm.get('newpassword')?.touched">Password should be atmost 15 characters</div>
            <div class="form-text text-danger" *ngIf="registrationForm.get('newpassword')?.hasError('pattern') && registrationForm.get('newpassword')?.touched">Password must contain uppercase, small, number and symbol</div>
            <div class="form-text text-danger" *ngIf="!registrationForm.get('newpassword')?.hasError('required')&& registrationForm.get('newpassword')?.touched && upass==cpass" >Password must be new</div>

            <i class="fas fa-lock" style="color: aqua;"></i>
        </div>
        <div class="btnn">
            <!-- <input type="submit" style="color: aqua;" [disabled]="regForm.invalid" class="btn" value="Change password"> -->
            <button [disabled]=" (regForm.invalid)||(upass!=null && upass==cpass)" class="btn btn-success" (click)="updatePassword()">Submit</button>
        </div>
     </form>
    </div>
   </div>
   </div>

   <!--
    [(ngModel)]="upass"

[(ngModel)]="cpass"
    [disabled]="upass!=null && upass==cpass"
   -->