<!-- 
<nav class="navbar navbar-light bg-gradient-primary text-white">
    <a class="navbar-brand" routerLink='/'>
      <img src="./assets/icon2.jpg" width="70" height="60" class="d-inline-block align-top" alt="">
    </a>
  </nav>

      <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign In</p>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              
                
                <form [formGroup]="commonloginform" #regForm="ngForm" (ngSubmit)="validateLogin(commonloginform)"> 
                
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Email :</label>
                    <input class="form-control form-control-lg"
                        placeholder="Enter a valid email address" formControlName="email" [(ngModel)]="userLogin.email"/>
                        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)" >Email Id is required</div>
                        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)" > Please Enter a valid Email Id </div>

                    </div>
        
         
                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Password</label>
                    <input type="password"  class="form-control form-control-lg"
                        placeholder="Enter password" formControlName="password" [(ngModel)]="userLogin.password" />
                        <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)" >Password is required</div>
                        <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] && (Password.touched || Password.dirty)" >Password should contain minimum 8 characters</div>

                    
                    </div>
        
                    <div class="text-center text-lg-start mt-4 pt-2">
                    <input type="submit" [disabled]="regForm.invalid" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Login">
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a routerLink="/register"
                        class="link-danger">Register</a></p>
                    </div>
                </form>
            </div>
          </div>
        </div>
        
      </section>
       -->      


       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="login.component.css">
        <div class="tiledBackground">
        <div class="logo" routerLink="">
          <i class="fa fa-home"></i>
        </div>
      <div class="wrapper">
        <div class="title">
          Login Here
        </div>
        <div class="form">


       <form [formGroup]="commonloginform" #regForm="ngForm" (ngSubmit)="validateLogin(commonloginform)"> 

        <!-- <div class="alert-danger" *ngIf="!isSuccess">
          {{errormsg}}
      </div> -->
      
       <div class="input_field">
        <input type="email" formControlName="email" placeholder="  Email Id" class="input" [(ngModel)]="userLogin.email">
        <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)" >Email Id is required</div>
        <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)" > Please Enter a valid Email Id </div>

        <i class="fas fa-envelope"></i>
      </div>
      <div class="input_field">
        <input type="password" formControlName="password" placeholder="  Password" class="input" [(ngModel)]="userLogin.password">
        <div class="form-text text-danger" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)" >Password is required</div>
        <div class="form-text text-danger" *ngIf="Password.errors?.['minlength'] && (Password.touched || Password.dirty)" >Password should contain minimum 8 characters</div>

        <i class="fas fa-lock"></i>
      </div>
      <div class="btnn">
      <input type="submit" [disabled]="regForm.invalid" class="btn" value="Sign In">
      </div>
       </form>
       <p class="lokesh text-white ">New user? <a href="register"
        class="fw-bold text-body"><u style="color: aqua;">Create Account</u></a></p>
        </div>
</div>
</div>